<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    </style>
    <title>Interventii</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="http://localhost:4200" class="nav-link">Start</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:4200/apeluri" class="nav-link">Apeluri</a>
                </li>
                <li class="nav-item active">
                    <a href="http://localhost:4200/servicii" class="nav-link">Servicii <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <h2 style="margin-right: 28%; margin-left: auto; color: white;">Cele mai lungi interventii pentru fiecare
                cauza</h2>
        </div>
    </nav>
    <br>

    <% if (result.length !=0) { %>

        <% for (let r of result ) {%>
            <ul>
               
                <li>
                    <p><b>Cauza:</b>
                        <%=r['Denumire'].toUpperCase() %>
                    </p>

                    <p><b>Timp de desfasurare interventie:</b>
                        <%=r['dt'] %> minute
                    </p>
                   

                    
                </li>
                <br>
            </ul>

            <% } %>
                <% } else { %>
                    <h2>Ne pare rau, nicio cauza nu a fost
                        inregistrata in baza de date!</h2>
                    <% } %>

                        <a href="http://localhost:4200/servicii">Inapoi la servicii</a>
</body>

</html>