<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: 500;
        }
    </style>
    <title>Persoane</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="http://localhost:4200" class="nav-link">Start <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/apeluri" class="nav-link">Apeluri</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/servicii" class="nav-link">Servicii</a>
            </li>
          </ul>
          <h2 style="margin-right: 46%; margin-left: auto; color: white;">Persoane</h2>
        </div>
      </nav>
<br>
    <% if (persoana.length != 0) { %>
        
        <% for (let p of persoana ) {%>
        <p><b>Nume: </b><%=p['Nume'].toUpperCase() %></p>
        <p><b>Prenume:</b> <%=p['Prenume'].toUpperCase() %></p>
        <a href="/persoane/<%= p.PersoanaID %>" style="float: left;">Detalii</a>
        <br>
        <br>
        <% } %>
        <% } else { %>
             <h2>Ne pare rau, nicio persoana nu a fost inregistrata in baza de date!</h2>
         <% } %>  
     
     
     <a href="/persoane/new">Adauga persoana</a>
     <br>
     <a href="http://localhost:4200">Inapoi la pagina de start</a>
     
</body>
</html>